body{
  background-color: rgb(36, 109, 169);
}
p{
  color: white;
}
h1{
  color: white;  
}
a:link{
  color:white;
}
a:visited{
  color:white;
}
a:hover{
  background-color:rgb(16, 59, 93);
}
* p {
  text-align: center;
}
  h1 {
    text-align: center;
      }